# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Output files
output/

# OS files
desktop.ini
Thumbs.db
.DS_Store

# Environment
.env

# Flutter
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/build/
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/android/.gradle/
flutter_app/android/app/build/
flutter_app/android/local.properties
